.search-bar {
  width: 40%;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(199, 21, 133, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(199, 21, 133, 1);
  box-shadow: 8px 8px 24px 0px rgba(199, 21, 133, 1);
}

.search-bar:focus-visible {
  outline: none;
}
